#businessName {
    text-align: center;
}

#businessLogo {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}

#businessDescription {
    text-align: center;
    margin: 20px;
}